<!doctype html>
<html lang="en">

<head>
    <title>Chat Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#chat_page').hide()
            var socket = io.connect()

            $('#name_form').submit(function (e) {
                e.preventDefault()
                socket.emit('entered_name', {
                    name: $('[name=name]').val()
                })
                $('#login_page').fadeOut()
                $('#chat_page').fadeIn()
            })

            $('#message_form').submit(function (e) {
                e.preventDefault()
                socket.emit('entered_message', {
                    message: $('[name=inputMessage]').val()
                })
            })

            socket.on('new_name', function (data) {
                var newName = document.createElement("p")
                var t = document.createTextNode(data.new_name + " joined")
                var breakLine = document.createElement("br")
                var newSize = document.createElement("p")
                var size = document.createTextNode("There are " + data.size + " participants")
                newName.appendChild(t)
                newName.appendChild(breakLine)
                newName.appendChild(size)
                document.getElementById("messages").appendChild(newName)

            })

            socket.on('new_message', function(data) {
                var newMessage = document.createElement("h3")
                var t = document.createTextNode(data.user + ": " + data.new_message)
                var timeStamp = document.createElement("p")
                var time = document.createTextNode(Date.now())
                newMessage.appendChild(t)
                timeStamp.appendChild(time)
                document.getElementById("messages").appendChild(newMessage)
                document.getElementById("messages").appendChild(timeStamp)
            })

            socket.on('user_left', function (data) {
                var leftName = document.createElement("p")
                var t = document.createTextNode(data.left_name + " left")
                var breakLine = document.createElement("br")
                var newSize = document.createElement("p")
                var size = document.createTextNode("There are " + data.size + " participants")
                leftName.appendChild(t)
                leftName.appendChild(breakLine)
                leftName.appendChild(size)
                document.getElementById("messages").appendChild(leftName)
            })
        })
    </script>
</head>

<body>
    <div id="chat_page" class="text-center">
        <div id="messages"></div>
        <div id="message_form">
            <form id="input_text">
                <input type="text" name="inputMessage" placeholder="Type here" class="input_message">
            </form>
        </div>
        <h1 class="hello">hello</h1>
    </div>
    <div id="login_page" style="width:100%; bottom:50%; position:absolute">
        <form id="name_form">
            <input type="text" name="name" placeholder="Enter Name" style="width:100%;height:40px;text-align:center">
        </form>
    </div>

</body>

</html>